[submodule "third_party/aicli/codex"]
	path = third_party/aicli/codex
	url = https://github.com/wanhongqing123/codex
[submodule "third_party/aicli/opencode"]
	path = third_party/aicli/opencode
	url = https://github.com/wanhongqing123/opencode
